div.col-md-3.col-sm-6.item-feature
  div.thumbnail
    div.item-image-container
      img([src]='item.image')
    div.caption
      div.item-title-container
        h3 {{item.title | slice:0:20}}
      div.item-button-container
        a.btn.btn-warning.item-button-width.item-margin-right-5('[href]'='item.url', target='_blank') {{ 'Amazon' | translate }}
        a.btn.btn-info.item-button-width {{ 'Details' | translate }}
