<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col">
      <h3> {{ 'PID: ' | translate }} {{ item?.id }} </h3>
      <h4> {{ 'Title: ' | translate }} {{ item?.title }} </h4>
      <button class="btn btn-warning mx-1" [disabled]="!item?.url || item?.url.length === 0" (click)="goToAmazon(item)">
        {{ 'View on Amazon' | translate }}
      </button>
    </div>
    <div class="col">
      <div class="thumbnail details-image">
        <img [src]="item?.image" onerror="this.src='../../../../assets/images/item_not_found.png'"/>
      </div>
    </div>
  </div>
</div>
