<div class="container details-container mt-5 pt-5">
  <div class="row details-sub-container">
    <ng-container *ngIf="item$ | async; let item">
      <div class="col">
        <h3> <b>{{ "PID: " | translate }}</b> {{ item?.id }} </h3>
        <h4> <b>{{ "Title: " | translate }}</b> {{ item?.title }} </h4>
        <button class="btn btn-warning mx-1" [disabled]="!item?.url || item?.url.length === 0" (click)="goToAmazon(item)">
          {{ "View on Amazon" | translate }}
        </button>
      </div>
      <div class="col">
        <div class="thumbnail details-image">
          <img [src]="item?.image" onerror="this.src='../../../../assets/images/item_not_found.png'"/>
        </div>
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="currentForecast$ | async; let currentForecast">
    <h3 *ngIf="currentForecast.name.length"> <b>{{ "Features: " | translate }}</b> {{ currentForecast?.name }} </h3>
    <h3 *ngIf="currentForecast.score > 0">
      <b>{{ "Score and test size: " | translate }}</b>
      {{ currentForecast?.score }} - {{ currentForecast?.test_size }}
    </h3>
    <h3 *ngIf="currentForecast.score == 0">
      <b>{{ "Score not yet calculated " | translate }}</b>
    </h3>
    <div class="col">
      <button class="btn btn-info" (click)="showFlatten=!showFlatten">
        {{ "Switch Views" | translate }}
      </button>
    </div>
  </ng-container>
  <div class="row details-sub-container my-5" *ngIf="!showFlatten">
    <ngx-charts-line-chart *ngIf="flattenChartData$ | async as flattenChartData"
     [view]="view" [scheme]="colorScheme" [results]="flattenChartData?.data" [gradient]="false"
     [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
     [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="true"
    ></ngx-charts-line-chart>
  </div>
  <div class="row details-sub-container my-5" *ngIf="showFlatten">
    <ngx-charts-line-chart *ngIf="fullChartData$ | async as fullChartData"
     [view]="view" [scheme]="colorScheme" [results]="fullChartData?.data" [gradient]="false"
     [xAxis]="true" [yAxis]="true" [legend]="true" [showXAxisLabel]="true"
     [showYAxisLabel]="true" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="true"
    ></ngx-charts-line-chart>
  </div>
</div>
