<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-info">
  <div class="container nav-logo">
    <span>
      <a class="navbar-brand logo"></a>
    </span>
  </div>
  <div class="container nav-search">
    <div class="input-group ml-5">
      <input type="text" class="form-control" placeholder="Password">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</nav>
