nav.navbar.navbar-inverse.navbar-fixed-top.navbar-color(role='navigation')
  div.container
    div.navbar-header
      a.navbar-brand
        img.logo(src='../../../../assets/images/price_probe_logo.svg', alt='Price Probe', title='Price Probe')
