.navbar-brand {
  padding: 2px 15px;
}

.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
}

.navbar-color {
  background-color: #238FAF;
  border-color: #5BC0DE;
}

.logo {
  height: 100%;
}
