<div class="card m-2 p-2">
  <div class="container image-container thumbnail text-center">
    <img class="card-img-top" [src]="item.image" onerror="this.src='../../../../assets/images/item_not_found.png'"/>
  </div>
  <div class="container pt-2">
    <p class="card-text px-2">
      <b>{{item.title | slice:0:20}}</b>
    </p>
    <div class="button-container pb-2">
      <button class="btn btn-warning mx-1" [disabled]="!item.url || item.url.length === 0" (click)="goToAmazon(item)">{{ 'Amazon' | translate }}</button>
      <button class="btn btn-info mx-1" (click)="goToDetails(item)">{{ 'Details' | translate }}</button>
    </div>
  </div>
</div>
