div.input-group.search-input
  input.form-control(type='text', placeholder='{{ \'Find an item by PID or URL . . .\' | translate }}')
  span.input-group-btn
    button.btn.btn-default(type='button')
      i.fa.fa-search
