<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-info">
  <div class="container nav-logo">
    <span (click)="goToHomePage()" class="pointer">
      <a class="navbar-brand logo"></a>
    </span>
  </div>
  <div class="container nav-search">
    <div class="input-group ml-5">
      <input
        type="text" class="form-control" placeholder="{{ 'Search by pid or url . . .' | translate }}"
        [(ngModel)]="search" (keyup.enter)="searchInputChange$.next(search)"
      >
      <span class="input-group-btn">
        <button class="btn btn-default pointer" type="button" (click)="searchInputChange$.next(search)">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div>
  </div>
</nav>
